body{

margin:0;
font-family:Arial;
background:#f5f5f5;
color:#333;

}


header{

height:80px;
background:#1b5e20;
color:white;

display:flex;
align-items:center;
justify-content:space-between;

padding:0 30px;

}


.logo img{

width:70px;

}


button{

background:#fff;
border:none;
padding:10px 20px;
cursor:pointer;

}


#menu{

display:none;
background:#222;
padding:20px;

}


#menu a{

display:block;
color:white;
padding:10px;
text-decoration:none;

}



.hero{

height:500px;

background:
linear-gradient(
rgba(0,0,0,.6),
rgba(0,0,0,.6)
),
url("stadium.jpeg");

background-size:cover;
background-position:center;


display:flex;
align-items:center;
justify-content:center;

color:white;
text-align:center;

}



.hero h1{

font-size:45px;

}



.content button{

background:#1b5e20;
color:white;

}



.about{

padding:40px;
text-align:center;

}



.cards{

display:flex;
gap:20px;
justify-content:center;
padding:30px;

}



.cards div{

background:white;
padding:30px;
border-radius:15px;

}



footer{

background:#1b5e20;
color:white;
text-align:center;
padding:20px;

}
